.backGroundPage{
    background-color: "#DDE4F5";
    height: 110%;
}
.infoBoxx {
    position: flex;
    background-color: white;
    margin-left: 40%;
    margin-right: 40%;
    padding: 15px;
    border-radius: 8px;
}
.infoBoxEditUser {
    width: max-content;
    left: 50%
}
#centerText{
    text-align: center;
}

.cameraIcon{
    left: 145px;
}

.text_header {
    position: top;
    height: 39px;
    left: 13.47%;
    right: 68.61%;
    bottom: 1960px;

    font-family: 'Helvetica';   
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;

    /* identical to box height */
    text-align: center;
    color: #000000; 
}

.text_thongtincoban {
    position: center;
    width: 550px;
    height: 58px;
    top: 101px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 58px;
    
    text-align: left; 
    color: #000000;    
}

.shade {
    color: '#C4C4C4'
}
.posts {
    background-color: whitesmoke;
    /* border: 1px solid black; */
    height: 50vh;
    border-radius: 10px;
    padding: 10px;
}
.posts>img{
    width:100%;
    height: 40vh;
    object-fit:fill;
    padding: 5%;
}
.ColPost{
    padding: 0px 30%;
}
.action {
    font-size: 2rem;
}
.describe {
    padding: 0px 1rem;
}
.userHomePage {
    background-image: linear-gradient(#2DCDDF, rgb(227, 93, 248) );
}
