
.backGroundPage{
    background-color: "#DDE4F5";
    height: 110%;
}
.infoBox {
    position: flex;
    width: 550px;
    height: 125px;
    left: 500px;
    top: -10px;
}
#centerText{
    text-align: center;
}
.cameraIcon{
    left: 145px;
}

.text_header {
    position: top;
    height: 39px;
    left: 13.47%;
    right: 68.61%;
    bottom: 1960px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;

    /* identical to box height */
    text-align: center;
    color: #000000; 
}

.text_thongtincoban {
    position: center;
    width: 550px;
    height: 58px;
    top: 101px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 58px;
    
    text-align: left; 
    color: #000000;    
}

.shade {
    color: '#C4C4C4'
}